{% extends 'admin/index.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <a class="btn btn-primary" href="{{ path('admin_plugins_dashboard_widget_blueprints_new') }}">
          <i class="fa fa-plus"></i>&nbsp;
          {{ 'plugins.dashboard.admin.widget_blueprints.add_blueprint'|trans }}
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hovered">
          <thead>
            <tr>
              <th>{{ 'plugins.dashboard.admin.widget_blueprints.name'|trans }}</th>
              <th>{{ 'plugins.dashboard.admin.widget_blueprints.description'|trans }}</th>
              <th>{{ 'plugins.dashboard.admin.widget_blueprints.url'|trans }}</th>
              <th>{{ 'plugins.dashboard.admin.widget_blueprints.actions'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for blueprint in entities %}
              <tr>
                <td>{{blueprint.name}}</td>
                <td>{{blueprint.description}}</td>
                <td>{{blueprint.url}}</td>
                <td>
                  {% if blueprint.id is defined %}
                    <a href="{{ path('admin_plugins_dashboard_widget_blueprints_edit', {'entityId': blueprint.id}) }}"
                      class="btn btn-primary btn-xs">{{ 'plugins.dashboard.admin.widget_blueprints.edit_blueprint'|trans }}</a>
                  {% else %}
                    <span title="{{'plugins.dashboard.admin.widget_blueprints.system_widget_help'|trans}}" class="fa fa-question-circle"></span> <i>{{'plugins.dashboard.admin.widget_blueprints.system_widget'|trans}}</i>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </body>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
